.Service {
  width: 90%;
  max-width: 1500px;
  margin: 20px auto;
  padding: 40px 0;
}

.title-heading {
  font-size: 2.2rem;
  font-weight: 700;
  color: #1d2128;
  text-align: center;
  margin: 0 auto;
}

.title-heading span {
  text-decoration: underline;
  color: #ed1d24;
}

.subtitle-text {
  font-size: 1.7rem;
  letter-spacing: 0.9px;
  font-weight: 400;
  color: #555;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.service-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px;
  margin: 10px auto;
  perspective: 1000px; /* Added for 3D effect */
}

.service-card {
  display: flex;
  padding: 20px;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 28%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.service-card:nth-child(2) {
  transform: translateZ(20px) scale(1.01);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.service-card:hover {
  transform: translateZ(20px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.service-card:nth-child(2):hover {
  transform: translateZ(50px) scale(1.05);
}

.service-image {
  width: 9vw;
  transition: transform 0.3s ease;
}

.service-heading {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 10px auto;
  color: #ed1d24;
  text-align: center;
}

.service-description {
  font-size: 1.1rem;
  color: #131313;
  flex-grow: 1;
  text-align: center;
  line-height: 30px;
  letter-spacing: 0.8px;
  font-weight: 400;
  padding: 0px 24px;
}

@media screen and (max-width: 1024px) {
  .title-heading {
    font-size: 2rem;
    font-weight: 700;
    color: #1d2128;
    text-align: center;
    margin: 0 auto;
  }

  .subtitle-text {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .Service {
    width: 94%;
  }

  .service-container {
    gap: 20px;
  }

  .service-card {
    padding: 10px;
    margin: 10px auto;
    width: 30%;
    border-radius: 10px;
  }

  .service-image {
    width: 10vw;
  }

  .service-heading {
    font-size: 1.3rem;
  }

  .service-description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .Service {
    width: 96%;
      margin: 10px auto;
        padding: 20px 0;
  }

  .title-heading {
    font-size: 1.4rem;
  }

  .subtitle-text {
    font-size: 1rem;
  }

  .service-container {
    flex-direction: column;
    gap: 30px;
  }

  .service-card {
    padding: 20px;
    margin: 0 auto;
    width: 80%;
  }

  .service-card:nth-child(2) {
    transform: translateZ(10px) scale(1.001);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .service-image {
    width: 100px;
  }

  .service-heading {
    font-size: 1.3rem;
  }

  .service-description {
    font-size: 1rem;
  }
}
